
//////////////////////////////////////Variables & Mixins
$font-stack: 'Montserrat', sans-serif;
$font-alternative: 'Space Mono', monospace;
$main-color: #efd2d5;
$black: black;
$white: white;
$yellow: #FFF900;

$phone-width: 39.9375em;
$tablet-width: 40em;
$desktop-width: 64em;
$desktop-max: 74.9375em;


@mixin text-outline {
	text-shadow:  -3px -3px 0 $black,
	3px -3px 0 $black,
	-3px 3px 0 $black,
	3px 3px 0 $black; 
}

@mixin phone-only {
	@media (max-width: #{$phone-width}) {
		@content;
	}
}

@mixin tablet-up {
	@media (min-width: #{$tablet-width}){
		@content;
	}
}

@mixin tablet-only {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - .0625em}){
		@content;
	}
}

@mixin desktop-up {
	@media (min-width: #{$desktop-width}){
		@content;
	}
}

@mixin desktop-only {
	@media (min-width: #{$desktop-width}) and (max-width: #{$desktop-max}){
		@content;
	}
}

@mixin xl-desktop {
	@media (min-width: #{$desktop-max}) {
		@content;
	}
}

html {
	scroll-behavior: smooth;
	transition: .3s ease-in-out;
}

body {
	margin: 0;
	background-color: $main-color;
}

h1, h2, h3, h4, h5, p, a {
	font-family: $font-stack;
	margin: 0;
}

a {
	text-decoration: none;
	color: $black;
}

p {
	@include phone-only {
		font-size: .75rem;
	}
	font-size: .75rem;
	line-height: 2;
}

.cover {
	object-fit: cover;
}

img, video {
	width: 100%;
	height: 100%;
	transition: .3s ease-in-out;
	object-fit: cover;
}

video {
	-webkit-border-radius: 1px;
	object-position: top;
}

.container {
	max-width: 65rem;
	margin: auto;
	padding: 1.5625rem;
}



//////////////////////////////////////Nav

#nav {
	z-index: 1000;
	position: absolute;
	text-transform: uppercase;
	display: flex;
	transform: rotate(-90deg);
	transform-origin: left center;
	@include tablet-up {
		position: fixed;
		bottom: 100px;
		left: 3%;
	}
	@include phone-only  {
		transform-origin: left bottom;
		left: 10%;
		bottom: 50px;

		// width: 100vw;
		// // bottom: 210px;
		// top: 150px;
		// left: -150px;
	}
	a {
		position: relative;
		margin-right: 20px;
		font-size: .75em;
		font-family: $font-alternative;
		@include tablet-up {
			&:before {
				content: '';
				height: 2px;
				width: 100%;
				background: $black;
				position: absolute;
				left: 0;
				bottom: -5px;
				visibility: none;
				transform: scaleX(0);
				transition: .3s ease-in-out;
			}
		}
		&:hover:before {
			visibility: visible;
			transform: scaleX(1.1);
		}
		&.active {
			&::after {
				content: '';
				height: 2px;
				width: 100%;
				background: $black;
				position: absolute;
				left: 0;
				bottom: -5px;
			}
		}
	}
}

//////////////////////////////////////Generic Header

header {
	position: relative;
	display: grid;
	align-content: center;
	min-height: 100vh;
	background-color: $main-color;
	.container {
		padding-left: 5rem;
	}
	h1 {
		font-weight: 400;
		font-size: 6vw;
		line-height: 1;
		@include phone-only {
			font-size: 10vw;
		}
		// text-transform: uppercase;		   
	}
	h2 {
		font-weight: 400;
	}
}


//////////////////////////////////////Index page portfolio

#work {
	// background-color: $black;
	min-height: 100vh;
	margin: 0 auto;
	.container {
		height: 100%;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-auto-rows: 1fr;
		grid-row-gap: 75px;
		@include tablet-up {
					// grid-auto-rows: 400px;

					grid-gap: 50px;
				}
			}
			.project {
				grid-column: 1 / -1;
				width: 100%;
				position: relative;
				img {
					height: 300px;
					@include tablet-up {
						height: 350px;
					}
				}
				@include tablet-up {
					overflow: hidden;
					height: 100%;
					grid-column: span 2;
					transition-duration: 0.5s;
					&:hover {
						transform: scale(1.1);
						transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
						.overlay {
							opacity: .95;
						}
						img, video {
							transform: scale(1.2);
						}
					}
				}
			}
			.span-3 {
				grid-column: 1 / -1;
				@include tablet-up {
					grid-column: span 3;
				}
			}
		}


		.overlay {
			position: absolute;
			display: flex;
			align-items: center;
			z-index: 10000;
			transition: .5s ease;
			overflow: hidden;
			text-align: center;
			@include phone-only {
				position: relative;
				opacity: 1;
				height: auto;
				width: 100%;
				left: 0;
				bottom: 0;
				text-align: left;
			}
			@include tablet-up {
				background-color: $black;

				justify-content: center;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 100%;
				width: 100%;
				opacity: 0;
			}
			.text {
				font-weight: 600;
				padding: 0 2%;
				@include tablet-up {
					color: $white;
					padding: 0 5%;
				}
				p {
					line-height: 1.5;
					&:nth-of-type(4) {
						margin-top: 5%;
					}
				}
			}
		}

//////////////////////////////////////About Page changes

#about {
	header {
		.container {
			display: grid;
			grid-template-columns: 1fr 2fr;
			grid-row-gap: 20px;
			@include tablet-up {
				align-items: center;
				grid-gap: 100px;
				// grid-auto-rows: 1fr 1fr;
			}
			position: relative;
			div {
				order: 1;
				position: relative;
				z-index: 0;
				perspective: 1000px;
				grid-column: 1 / -1;
				@include tablet-up {
					grid-column: 1 / 2;
				}
				&::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					bottom: 0;
					right: 0;
					box-shadow: -45px 45px 0px #FFF900, 45px -45px 0px #FFF900;
					transition: .3s ease;
					transform: rotateY(45deg);

				}
				&:hover {
					&::before {
						transform: rotateY(0);
						// transform: scale(1.1);
					}
					img {
						transform: rotateY(45deg) scale(1.1);

					}
				}
			}
			
			img {
				position: relative;
				max-height: 300px;
				object-position: 100% 80%;
				transform: rotateY(0);
				// filter: drop-shadow(-50px 50px 30px rgba(0,0,0,.2));
			}
			h1 {
				@include phone-only {
					order: 2;
				}
				@include tablet-up {
					grid-row: 1 / 3;
					grid-column: 2 / 3;
				}
			}
			p {
				@include phone-only {
					order: 3;
				}
				align-self: start;
				@include tablet-up { 
					grid-column: 1 / 2;
					grid-row: 2 / 3;
				}
			}
			h1, p {
				z-index: 100;
				position: relative;
				@include phone-only {
					grid-column: 1 / -1;
				}
			}
		}
	}
}


//////////////////////////////////////Contact


#contact {
	header {
		.container {
			align-items: center;
			h1 {
				a {
					position: relative;
					&:before {
						content: "";
						position: absolute;
						display: flex;
						width: 100%;
						height: 4px;
						bottom: 0;
						left: 0;
						background-color: $yellow;
						transform: scaleX(0);
						visibility: hidden;
						transition: all 0.3s ease-in-out 0s;
						@include phone-only {
							transform: scaleX(1.1);
							visibility: visible;
						}
					}
					&:hover:before {
						visibility: visible;
						transform: scaleX(1.1);
					}
				}
			}
		}
	}
}



//////////////////////////////////////Footer
footer {
	.container {
		display: grid;
		grid-template-columns: 2fr 1fr;
		p {
			font-size: .4rem;
			font-weight: 600;
			&:last-of-type {
				text-align: right;
			}
		}
	}
	@include phone-only {
		margin-top: 20%;
	}
}



